{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
<a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
<a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>
  {% else %}
    {{ block.super }}
    <a class="btn btn-primary" href="{% url 'comments' %}" role="button">Comments</a>
  {% endif %}
{% endblock %}

{% block splash %}
  <div class="jumbotron jumbotron-carousel corporate-jumbo">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <h1>{% include "_brandname.html" %}</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc euismod.</p>
	  <a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up for Free!</a>
        </div>
        <div class="col-md-4 col-sm-4">

        </div>
      </div>
    </div>
  </div>
{% endblock splash %}

{% block container %}
<!-- Benefits of the Django application -->
<a id="about"></a>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2>Heading</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in laoreet sem. Donec non lorem eu magna iaculis vestibulum. Suspendisse egestas maximus nisi facilisis tincidunt. In aliquet, libero vel ultricies ultricies, est sapien faucibus risus, at accumsan diam enim eget lectus. Etiam nec dolor eleifend, tristique tortor sed, consectetur odio. Aliquam et nibh faucibus, facilisis diam nec, elementum risus. Nulla quis accumsan felis. Donec non tellus justo. In tempor efficitur pellentesque. Fusce nec erat tincidunt, tempor elit in, sodales libero.</p>
      <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Heading</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in laoreet sem. Donec non lorem eu magna iaculis vestibulum. Suspendisse egestas maximus nisi facilisis tincidunt. In aliquet, libero vel ultricies ultricies, est sapien faucibus risus, at accumsan diam enim eget lectus. Etiam nec dolor eleifend, tristique tortor sed, consectetur odio. Aliquam et nibh faucibus, facilisis diam nec, elementum risus. Nulla quis accumsan felis. Donec non tellus justo. In tempor efficitur pellentesque. Fusce nec erat tincidunt, tempor elit in, sodales libero.</p>
      <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Heading</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in laoreet sem. Donec non lorem eu magna iaculis vestibulum. Suspendisse egestas maximus nisi facilisis tincidunt. In aliquet, libero vel ultricies ultricies, est sapien faucibus risus, at accumsan diam enim eget lectus. Etiam nec dolor eleifend, tristique tortor sed, consectetur odio. Aliquam et nibh faucibus, facilisis diam nec, elementum risus. Nulla quis accumsan felis. Donec non tellus justo. In tempor efficitur pellentesque. Fusce nec erat tincidunt, tempor elit in, sodales libero.</p>
      <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>
</div>

{% endblock container %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}

